# Unnecessarily Loose Reverse Syllabic Word Pairs
Depending on the company, here's a fun party game: find words from whom the interchange of first and last syllables generates a new word. For example, reversing the first and last syllables of *treaty* gives you *tea tree*. At first, you can likely think of a few fun ones, but it quickly becomes difficult to venture beyond two-syllable words and compound nouns. Python to the rescue! I've processed the 134,000-word Carnegie Mellon phonetic dictionary for any words whose beginning and end can be swapped to create a new word. In this set, there are 473 such words (0.35%).

## Loading and prepping the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_f = pd.read_csv("phonetic_dict.txt", sep="  ", header=None, engine = "python")
data_f.columns = ["word", "pronunciation"]

In [3]:
data_f.head(10)

       word      pronunciation
0    AABERG        AA1 B ER0 G
1    AACHEN        AA1 K AH0 N
2  AACHENER    AA1 K AH0 N ER0
3       AAH                AA1
4     AAKER          AA1 K ER0
5   AALIYAH      AA2 L IY1 AA2
6   AALSETH     AA1 L S EH0 TH
7    AAMODT        AA1 M AH0 T
8    AANCOR      AA1 N K AO2 R
9   AARDEMA  AA0 R D EH1 M AH0

We'll need to translocate the last syllable of each word to find matches.

In [4]:
def last_syllable_to_front(word):
    """Moves last consonant-vowel cluster from list of phonemes to the front of the list
    """
    first_vowel_cluster = True
    last_index = len(word) - 1
    
    while last_index > 0:
        consonant = word[last_index].isalpha()
        if consonant:
            if not first_vowel_cluster: #only allow one consonant phoneme before final vowel cluster
                break
            else:
                while consonant and last_index > 0:
                    last_index -= 1
                    consonant = word[last_index].isalpha()
        else: #vowel
            if first_vowel_cluster:
                last_index -= 1
                first_vowel_cluster = False
            else:
                last_index += 1
                break
        
    x = word[last_index:]
    x.extend(word[:last_index])
    return " ".join(x)
    
data_b = data_f.copy()
data_b.pronunciation = data_b.pronunciation.str.split().apply(last_syllable_to_front)
data_b.head(10)

       word      pronunciation
0    AABERG        B ER0 G AA1
1    AACHEN        K AH0 N AA1
2  AACHENER    N ER0 AA1 K AH0
3       AAH                AA1
4     AAKER          K ER0 AA1
5   AALIYAH      AA2 AA2 L IY1
6   AALSETH     S EH0 TH AA1 L
7    AAMODT        M AH0 T AA1
8    AANCOR      K AO2 R AA1 N
9   AARDEMA  M AH0 AA0 R D EH1

## Finding the matches
Now we have two dataframes, `data_f` with normal syllabic order, and `data_b` with the last syllable moved to the front. Now, let's see which syllable orderings are in both dataframes:

In [5]:
in_both = data_f.pronunciation.isin(data_b.pronunciation)
both = data_f[in_both]
both

           word pronunciation
3           AAH           AA1
12        AARGH       AA1 R G
22         AASE         AA1 S
24           AB         AE1 B
90         ABBS       AE1 B Z
...         ...           ...
134242     ZURN       Z ER1 N
134244    ZURVE       Z ER1 V
134268     ZYCH      Z AY1 CH
134278     ZYSK     Z IH1 S K
134279  ZYSK(1)     Z AY1 S K

[12717 rows x 2 columns]

Because many of the words in the set are only one syllable, of course they appear in both dataframes!

Let's screen for only those that have more than one syllable by reusing the last_syllable_to_front code:

In [6]:
def more_than_one_syllable(word):
    """Returns whether (T/F) the input word (list of phonemes) is more than one syllable
    """
    first_vowel_cluster = True
    last_index = len(word) - 1
    
    while last_index > 0:
        consonant = word[last_index].isalpha()
        if consonant:
            if not first_vowel_cluster: #only allow one consonant phoneme before final vowel cluster
                break
            else:
                while consonant and last_index > 0:
                    last_index -= 1
                    consonant = word[last_index].isalpha()
        else: #vowel
            if first_vowel_cluster:
                last_index -= 1
                first_vowel_cluster = False
            else:
                last_index += 1
                break
        
    x = word[last_index:]
    x.extend(word[:last_index])
    return word != x #if the modified version is the same as the original, then it's only one syllable

both_filtered = both[both.pronunciation.str.split().apply(more_than_one_syllable)]
both_filtered.columns = ["word_b", "pronunciation"]
both_filtered

         word_b      pronunciation
412      ABT(1)    EY1 B IY1 T IY1
447          AC          EY1 S IY1
686       ACHEE         AH0 CH IY1
1037       ADEE          AH0 D IY1
1055    ADELPHI  AH0 D EH1 L F IY0
...         ...                ...
130098   WHEDON      W EH1 D AH0 N
130155   WHELAN      W EH1 L AH0 N
131745    WIZEN      W AY1 Z AH0 N
133753    ZELMA      Z EH1 L M AH0
134090     ZOLA        Z OW1 L AH0

[506 rows x 2 columns]

And now let's find the corresponding pairs, remove duplicates (since we should expect some pairs to appear twice), and sort by word length:

In [7]:
pairs = both_filtered.merge(data_b, on="pronunciation", how="left")
pairs.head(5)

   word_b    pronunciation   word
0  ABT(1)  EY1 B IY1 T IY1    BTA
1      AC        EY1 S IY1  CA(1)
2   ACHEE       AH0 CH IY1   CHIA
3    ADEE        AH0 D IY1   DHIA
4    ADEE        AH0 D IY1    DIA

In [8]:
pairs.word_b = pairs.word_b.str.replace("\(1\)", "")
pairs.word = pairs.word.str.replace("\(1\)", "")
pairs = pairs.drop(columns = "pronunciation")
pairs = pd.DataFrame(np.sort(pairs.values, axis=1), columns=pairs.columns).drop_duplicates()
unique_pairs = sorted(list(pairs.word_b + ", " + pairs.word), reverse= True, key=len)
unique_pairs

['BORNSTEIN, STEINBORN',
 'CLAREMONT, MONTCLAIR',
 'CLERMONT, MONTCLAIR',
 'TOUCHTON, UNTOUCHED',
 'BEHOLDER, HOLDERBY',
 'LIQUIDE, WAIDELICH',
 'FORESTRY, REFOREST',
 'BERNAY, NEIGHBOUR',
 'BOUNDARY, REBOUND',
 'BURCHAM, SCHAMBER',
 "CHIEFFO, O'KEEFFE",
 'COSTLOW, LOW-COST',
 'FAREWELL, WELFARE',
 'LIQUIDE, WEIDLICH',
 'ELLEMANN, MANELLA',
 "MONROE'S, ROSEMAN",
 'EVERMORE, MOREVER',
 'PERREAULT, ROEPER',
 'ANDRIES, REASONED',
 'REQUEST, WESTRICH',
 'REQUEST, WESTRICK',
 'ADDRESSED, RESTED',
 'ADELPHI, DELPHIA',
 'BARABAR, BARBERA',
 'BERNAY, NEIGHBOR',
 'BONDAR, DARBONNE',
 'CELLPRO, PROCELL',
 "CHIEFFO, O'KEEFE",
 'CHIEFFO, OKEEFFE',
 'ALLCORN, CORNALL',
 'DHAHARAN, RHONDA',
 'ALLPHIN, FINNELL',
 'JERMAINE, MANGER',
 'KEMPTON, UNKEMPT',
 'LHEUREUX, OEHLER',
 'EHRLICH, LIQUEUR',
 'MELANIE, NIEMELA',
 'ALLNUTT, NUTTALL',
 'PERREAULT, ROPER',
 'ALDRIC, RECALLED',
 'OTTOSEN, SAINATO',
 'ASTAIRE, TERRACE',
 'BOUSKA, CABOOSE',
 'BOWDEN, UNBOWED',
 'AMBURN, BURNHAM',
 'CHIEFFO, OKEEFE',
 'COMMISH, MYSZKA',
 'CONCISE, SYSCON',
 'CONCUR, KIRCHEN',
 'CONNOTE, OETKEN',
 'CORDELL, DELCOR',
 'ALLCORN, CORNEL',
 'ADDAIR, DARRAGH',
 'DARRELLE, ELDER',
 'DEROUEN, WENDER',
 'DHAHARAN, RANDA',
 'DHAHARAN, RONDA',
 'DHAHRAN, RHONDA',
 'DUSSEAULT, SODA',
 'FURLAUD, LOAFER',
 'GERMAIN, MANGER',
 'GERMANE, MANGER',
 'LHEUREUX, OHLER',
 'ERLICH, LIQUEUR',
 'ERLICK, LIQUEUR',
 'ELAMIN, MINELLA',
 'ELMORE, MORRELL',
 'MELANY, NIEMELA',
 'ALLNUTT, NUTTAL',
 'ALLNUTT, NUTTLE',
 'ALPERN, PERNELL',
 'ALPERN, PURNELL',
 'ENTRIES, RESENT',
 "ENROLL, ROLLIN'",
 'OTTOSON, SONATA',
 'UNVEIL, VEILLON',
 'IRVETTE, VETERE',
 'IRVETTE, VETTER',
 'AERIAL, ALARIE',
 'ABOARD, BOARDA',
 'BODEN, UNBOWED',
 'BORDEAU, DOBER',
 'ABBOUD, BUDDHA',
 'AMBURN, BURNAM',
 'BURRELL, ELBER',
 'BUTTREY, REBUT',
 'CAPELLE, PELKA',
 'CAUDELL, DELCO',
 'CHALOUX, LUCIA',
 'ALCOCK, COCKLE',
 'COMEAUX, MOCHA',
 'ALCON, CONNELL',
 'ALCON, CONNOLE',
 'CORKEN, UNCORK',
 'CURRAGH, OCCUR',
 'DANELLE, ELDEN',
 'DANELLE, NELDA',
 'ADAIR, DARRAGH',
 'DELMA, MADELLE',
 'DEVELLE, VELDA',
 'DHAHRAN, RANDA',
 'DHAHRAN, RONDA',
 'DOANNA, NADEAU',
 'DOCKEN, UNDOCK',
 'DOKKEN, UNDOCK',
 'DONNELL, ELDON',
 'DUSSAULT, SODA',
 'ELMER, MIRELLE',
 'COLIER, ERCOLE',
 'COLYER, ERCOLE',
 'AFFAIR, FARRAH',
 'FARREN, UNFAIR',
 'FARRON, UNFAIR',
 'FERMIN, INFIRM',
 'FERRAN, UNFAIR',
 'FERREN, UNFAIR',
 'FERRON, UNFAIR',
 'FIRMIN, INFIRM',
 'FOLDEN, UNFOLD',
 'FURLAN, UNFURL',
 'ELGIN, GINNELL',
 'HARSHA, SHAHAR',
 'JUSTEN, UNJUST',
 'JUSTIN, UNJUST',
 'ALCOCK, KOCHEL',
 'LAREAU, OEHLER',
 'LEIKEN, UNLIKE',
 'LESSEN, UNLESS',
 'LESSON, UNLESS',
 'ALLAYED, LEYDA',
 'LHEUREUX, OLER',
 'LICHEN, UNLIKE',
 'LOCKEN, UNLOCK',
 'LOKKEN, UNLOCK',
 'LOWDEN, UNLOAD',
 'GROMA, MACGRAW',
 'MAIDEN, UNMADE',
 'MAYDEN, UNMADE',
 'MONROE, ROHMAN',
 'MONROE, ROMANN',
 'MOZELLE, ZELMA',
 'ANNETTE, NETTA',
 'NOVA, VIENNEAU',
 'ALPIN, PINNELL',
 'REDDEN, UNREAD',
 'RESTON, UNREST',
 'RINGEN, UNRING',
 'ENROLL, ROLLIN',
 'SEATON, UNSEAT',
 'SEDDON, UNSAID',
 'SEETON, UNSEAT',
 'EXCEL, SELLECK',
 'SELLEN, UNSELL',
 'EXCEL, SELLICK',
 'SELLON, UNSELL',
 'EXCEPT, SEPTIC',
 'SOLDAN, UNSOLD',
 'ATTESTS, TESSA',
 "O'TOOLE, TULLO",
 'TURNIP, UPTURN',
 'HOLIAN, UNHOLY',
 'HOLIEN, UNHOLY',
 'OVAL, VEILLEUX',
 'ALVITE, VITALE',
 'ANWELL, WEHLAN',
 'UNWELL, WEHLAN',
 'ANWELL, WELLEN',
 'UNWELL, WELLEN',
 'ANWELL, WHELAN',
 'UNWELL, WHELAN',
 'ALARIE, ARIEL',
 'ALLAIS, LAYAH',
 'ALROY, ROYALL',
 'ANSWER, SARAN',
 "AREA'S, AZERI",
 "BARRO, O'BARR",
 'BAUCUM, CUMBO',
 'ABELE, BELLAH',
 'BERNAY, NABER',
 'ABBETT, BETTA',
 'BONNEAU, OBON',
 'ABOARD, BORDA',
 'ABOOD, BUDDHA',
 "BURGO, O'BERG",
 'BUTTRY, REBUT',
 "C'MON, MANCHA",
 'CARESS, ESKER',
 'COMEAU, MOCHA',
 'COMEAUX, MOCA',
 'COMEAUX, MOKA',
 'ACCORD, CORDA',
 'CORELL, ELCOR',
 'DANELL, ELDEN',
 'DANELL, NELDA',
 'ADELLE, DELLA',
 'DELLA, UDELLE',
 'DUMAIS, MAIDA',
 'DUMAIS, MAYDA',
 'DUPER, PERDUE',
 'DUPER, PURDUE',
 'DUSSEAU, SODA',
 'DYSAN, SUNDAI',
 'DYSON, SUNDAI',
 'EAGAR, GUERRY',
 'EAGER, GUERRY',
 'AFFAIR, FARAH',
 'FARON, UNFAIR',
 'FATAH, OFFUTT',
 'AFFAIR, FERRA',
 'AFFIRM, FIRMA',
 'FITTON, UNFIT',
 'GALORE, ORGEL',
 'AGAIN, GUENNA',
 "HERRO, O'HAIR",
 "HERRO, O'HARE",
 'ADJUST, JUSTA',
 'EICHEN, KANAI',
 'ACHENE, KEENA',
 'ACCORD, KORDA',
 'LAREAU, OHLER',
 'LAROUX, UHLER',
 'LAROUX, UHLIR',
 'LEMIEUX, MULA',
 'LENORE, ORLAN',
 'LEROUX, UHLER',
 'LEROUX, UHLIR',
 'LIENAU, NOLLA',
 'LIKEN, UNLIKE',
 'ASLIN, LINNAS',
 'LODEN, UNLOAD',
 'LYCAN, UNLIKE',
 'LYKIN, UNLIKE',
 'MADAN, UNMADE',
 'MADEN, UNMADE',
 'EMAIL, MAILEY',
 'MERCI, SIEMER',
 'MONROE, ROMAN',
 'MOREAU, OHMER',
 'MORTIE, TIMOR',
 'MUNRO, ROHMAN',
 'MUNRO, ROMANN',
 'ANNEAL, NEALA',
 'ANETTE, NETTA',
 'ANNETT, NETTA',
 "DELEO, O'DELI",
 'OTERI, TERRIO',
 'PADEN, UNPAID',
 'APPALL, PAULA',
 'OPAQUE, PAYCO',
 'PETRI, REPEAT',
 'APPEAL, PIELA',
 'PURSUE, SUPER',
 'PURVEY, VAPOR',
 'ENROLL, ROLIN',
 'ANCEL, SELLEN',
 'ANSEL, SELLEN',
 'ANCEL, SELLON',
 'ANSEL, SELLON',
 'ASSESS, SESSA',
 'SETON, UNSEAT',
 'ASSUME, SUMMA',
 'ATTEST, TESTA',
 'TURVEY, VATER',
 'OVAL, VALLEAU',
 'AVERSE, VERSA',
 'UNWED, WHEDON',
 'UNWISE, WIZEN',
 'ADER, DORAIS',
 'AGER, GERAIS',
 'AKALI, CALIA',
 'ALLAIS, LEYA',
 'ALLAY, LAYAH',
 'ALROY, ROYAL',
 'AMER, MORAIS',
 'ANDER, DURAN',
 'ANEW, HUGHEN',
 'APPLY, PLAYA',
 'AREAS, AZERI',
 'BALLOU, LUBA',
 'ALBAN, BANAL',
 "BARO, O'BARR",
 'BARRO, OBARR',
 'BASAM, SAMBA',
 'ABAIR, BEARA',
 'ABELE, BELLA',
 'ABEND, BENDA',
 'ABAIR, BERRA',
 'BHUTTO, TOBU',
 'BISSO, OBESE',
 'BODA, DUBEAU',
 'BOLA, LABEAU',
 'ABOTT, BOTTA',
 'BUETOW, TOBU',
 'COMEAU, MOCA',
 'COMEAU, MOKA',
 'COMMA, MCCAA',
 'ACORD, CORDA',
 'COREL, ELCOR',
 'COTTEE, TECO',
 'DARGA, GODAR',
 'ADELLE, DELA',
 'DELA, UDELLE',
 'ADELE, DELLA',
 'ADELL, DELLA',
 "DELO, O'DELL",
 'DEWAN, UNDUE',
 'DEWARR, URDU',
 "DEYOE, O'DAY",
 "DEYOE, O'DEA",
 'ARDIN, DINAR',
 'DONA, NADEAU',
 'ADAN, DONAIS',
 'ADEN, DONAIS',
 'DONAIS, NEDA',
 'DOVEY, VAYDA',
 'DUMAIS, MEDA',
 'DUPIN, PANDA',
 'DUTIL, TILDA',
 'DUTIL, TILDE',
 'EAMER, MARIE',
 'EAMER, MOREE',
 'EGER, GUERRY',
 'ELMER, MOREL',
 'FARRA, REFAH',
 'AFFAIR, FERA',
 'AFFINE, FINA',
 'GAREAU, OGRE',
 'AHEAD, HEDDA',
 'HERRO, OHAIR',
 'HERRO, OHARE',
 'AHOLD, HOLDA',
 'ACORD, KORDA',
 'EILAN, LANAI',
 'LAREAU, OLER',
 'LARUE, UHLER',
 'LARUE, UHLIR',
 'ALEEN, LEANA',
 'ALENE, LEANA',
 'ALEEN, LEENA',
 'ALENE, LEENA',
 'ALEVE, LEIVA',
 'ALAIR, LEORA',
 'LIENAU, NOLA',
 "LIRO, O'LEAR",
 'ALLOT, LOTTA',
 'LOZEAU, ZOLA',
 'ALLURE, LURA',
 'ALLIED, LYDA',
 'ALIGN, LYNNA',
 'ALINE, LYNNA',
 'EMAIL, MALEY',
 'AMASS, MASSA',
 'EMAIL, MAYLE',
 'AMMEEN, MENA',
 'AMMEEN, MINA',
 'MITRE, REMIT',
 'MONZO, OMANS',
 'MOREAU, OMER',
 'MORTY, TIMOR',
 'MUNRO, ROMAN',
 'ANNEAL, NILA',
 'ANNAUD, NODA',
 'DELEO, ODELE',
 'OPAQUE, PACO',
 'OPAQUE, PECO',
 'APIECE, PISA',
 'ERASE, RACEY',
 'AASEN, SANAA',
 'OSTEN, SANAA',
 'ASSUME, SUMA',
 'ARTIS, TESAR',
 'ATTUNE, TUNA',
 'EVENT, VENTI',
 'ACHEE, CHIA',
 'AKEY, CLEAH',
 'ALLAY, LEYA',
 'ALLEE, LEAH',
 'AMER, MORAY',
 'ASAY, SIEJA',
 'ABACK, BACA',
 'BADA, DABAH',
 'BARO, OBARR',
 'BARRA, OBAR',
 'ABBAS, BASA',
 'BEEBE, BIBI',
 'BEKAA, CABA',
 'ABELE, BELA',
 'ABAIR, BERA',
 'ABATE, BETA',
 'ABET, BETTA',
 'ABODE, BODA',
 'BOLA, LEBOW',
 'ABOR, BORAH',
 'CAMA, MCCAA',
 'DATA, TODAY',
 'ADELE, DELA',
 'ADELL, DELA',
 'ADEL, DELLA',
 'DELO, ODELL',
 'DEWAN, UNDO',
 'DEWAR, URDU',
 "DEYO, O'DAY",
 "DEYO, O'DEA",
 'DEYOE, ODAY',
 'ADAK, DHAKA',
 'ADORE, DORA',
 'DOVEY, VEDA',
 'DUNNO, NODA',
 'DUNNO, ODEN',
 'DUNNO, ODIN',
 'AFAR, FARRA',
 "GOIN', UNGO",
 'KAMA, MCCAA',
 'LAFOE, OLAF',
 'ALLOT, LATA',
 'LAVIE, VILA',
 'ALEM, LEMMA',
 'ALEM, LEMME',
 'ALEEN, LENA',
 'ALENE, LENA',
 'LENO, OLEAN',
 'LEONE, ONLY',
 'ELISE, LESA',
 'ALEEN, LINA',
 'ALENE, LINA',
 'LINO, OLEAN',
 'LIOU, OOLEY',
 'LIRO, OLEAR',
 'ELISE, LISA',
 'ALONE, LONA',
 'ALOT, LOTTA',
 'EMAIL, MALY',
 'AMMAN, MANA',
 'AMAR, MARRA',
 'AMEEN, MENA',
 'AMEEN, MINA',
 'AMIR, MIRRA',
 'ERASE, RACY',
 'ASSAD, SADA',
 'ADEE, DHIA',
 'ALLEE, LIA',
 'ANEW, EUAN',
 'ANEW, EWAN',
 'ANEW, EWEN',
 'ABAD, BADA',
 'BADU, DUBA',
 'BARA, OBAR',
 'ABOR, BORA',
 'ADEL, DELA',
 'DEYO, ODAY',
 'DUER, URDU',
 'AJAR, JARA',
 'AKAO, KAWA',
 'AKIN, KYNA',
 'ALOT, LATA',
 'AMAL, MALA',
 'MANO, OMAN',
 'AMAR, MARA',
 'AMIR, MIRA',
 'OCON, QANA',
 'AWAD, WADA',
 'ADEE, DIA',
 'KAO, OKAY',
 'LEO, OLEA',
 'NOAA, UNO',
 'NOAH, UNO',
 'ABT, BTA',
 'AGEE, GA',
 'AGO, GOA',
 'MPG, PGM',
 'NOA, UNO',
 'AC, CA',
 'BT, TB']

In [9]:
print("There are {} word pairs in the set, which is {:.2f}% the total number of words"
      .format(len(unique_pairs), len(unique_pairs)/len(data_f)*100))

There are 473 word pairs in the set, which is 0.35% the total number of words